*{
    margin: 0;
    padding: 0;
  }
  body{
   display:flex;
   flex-direction: column;
   align-items: center;
   
  }

  .bg-gradient{
    background: radial-gradient(33.16% 103.23% at -3.17% 93.00%, rgba(9, 9, 9, 0.20) 0%, rgba(156, 156, 156, 0.20) 100%), radial-gradient(39.37% 138.27% at 104.42% 8.75%, #9C9C9C 0%, rgba(9, 9, 9, 0.00) 100%), #090909;   
    background-repeat: no-repeat;
  }
  
  header{
    width:100%;
    backdrop-filter: blur(10px);
  }

  .bg-black{
    background-color:#090909;
  }
  .text-black{
    color:#090909;
  }

  .bg-white{
    background-color:#FEFEFE;
  }
  .text-white{
    color:#FEFEFE;
  }
  
  .title{ 
   font-family: 'Archivo Black', sans-serif;
   font-weight: 400;
   font-size: 2.5rem;
  }
  
  .form-box{
    border-radius: 20px;
    border: 1px solid rgba(254, 254, 254, 0.10);
    background: linear-gradient(331deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 4px 24px 1px rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(15px);
  }  
  
  .label{
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Archivo Black', sans-serif;
   font-size: 1.375rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
  }
  
  .box{
   font-family: 'Poppins', sans-serif;
   font-size: 22px;
   font-style: italic;
   font-weight: 300;
   line-height: normal;
   border-radius: 30px;
   border: 1px solid rgba(254, 254, 254, 0.50);
   backdrop-filter: blur(10px);
  }
  
  #form-box input::placeholder{
    color: #FEFEFE;
  }
  
  #form-box select{
    color: #FEFEFE;
  }
  
  select > option{
    background-color:#9C9C9C;
    color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }
  
  .signature{
    width: 600px;
    height:200px;
    gap:1.5rem;
}

.ass{
  color:#FEFEFE;
  font-family:'Poppins', sans-serif;
}

.medgrupo{
  padding: 1rem;
  border: 1px solid rgba(254, 254, 254, 0.10);
  background: radial-gradient(33.90% 146.69% at 0% 0%, rgba(9, 9, 9, 0.20) 0%, rgba(156, 156, 156, 0.20) 100%), radial-gradient(27.29% 119.14% at 111.04% -0.00%, rgba(156, 156, 156, 0.30) 0%, rgba(9, 9, 9, 0.00) 100%), linear-gradient(0deg, #090909 0%, #090909 100%), rgba(9, 9, 9, 0.50);    margin: 0;
}
.medgrupoInfo{
  align-self: center;
}

.medgrupoInfo >p:first-child{
  font-family: 'Archivo Black', sans-serif;
}

.medwriters{
  background-image: url(../imgs/ASE_BASE_MEDWRITERS_2019.jpg);
  background-repeat: no-repeat;
}
.medwritersInfo{
  font-size:0.70rem;
  color: #090909;
}
.medwritersInfo >p{
  max-width: 15rem;
  letter-spacing: 0.04125rem;
  position: relative;
  top:8rem;
  left:-8rem;
  margin: 0 0 0.2rem 0;
}
.medwritersInfo >p:first-child{
  color:#034D72;
  font-weight: bold;
}
.medwritersInfo >p:nth-child(2){
  color:#0A1A28;
}
.medwritersInfo >p:nth-child(3){
  color:#3B4046;
  font-style: italic;
}
.medwritersInfo >p:nth-child(4){
  top:-0.8rem;
  left:0.3rem;
  margin-bottom: 0;
  max-width: 16rem;
}

.rmed{
  background-image: url(../imgs/ASE_BASE_RMED_2019.jpg);
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}
.rmedInfo{
  font-size:0.75rem;
  margin-top: 4.5rem;
  margin-right: 15rem;
  color: #D2222A;
  text-align: right;
  float: inline-start;
}

.rmedInfo >p{
  max-width: 18rem;
  margin:0;
  text-overflow:ellipsis;
}
.rmedInfo >p:first-child{
  font-weight: bold;
}
.rmedInfo >p:nth-child(2){
  margin-bottom: 0.8rem;
}
.rmedInfo >p:nth-child(3){
  margin-bottom: 0.8rem;
  font-style: italic;
}

  /* .assInfo{
    font-family: 'Poppins', sans-serif;
  }
  
  .assName{
    font-family: 'Archivo Black', sans-serif;
  } */
